h1
{
    border-color: cornflowerblue;
    background-color: blue;
    border-radius: 20px;
    border-style: double;
    border-width: 5px;
    width: 30%;
    color: white;
    margin-left: 34.5%;
    
    
}
.modal
{}
