
<p-toolbar>
  
  <div class="ui-toolbar-group-left">
      
        <button pButton type="button" class="small button" label="Login" [routerLink]="['/Login']" [routerLinkActive]="['ui-button-success']"></button>

    <button pButton type="button" class="small button" label="Dieren" [routerLink]="['/Dieren']" [routerLinkActive]="['ui-button-success']"></button>
    <button pButton type="button" class="small button" label="Kooien" [routerLink]="['/Kooien']" [routerLinkActive]="['ui-button-success']"></button>
    
  </div>
</p-toolbar>