div.main
{
    align-content: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    
}
.textbox
{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}
.APIitem
{
    
    border-width: 3px;
    border-style: solid;
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    background-color: white;
    background: white;
    padding-bottom: 20px;
}
h5.apiitemtitle
{
    color: red;

}
